<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" type="text/css" href="<%=siteUrl%>/assets/home/css/style.css %>" />
    <link rel="stylesheet" type="text/css" href="<%=siteUrl%>/assets/home/swiper/swiper.css" />
    <script src="<%=siteUrl%>/assets/home/swiper/swiper.min.js"></script>
</head>

<body class="<%- darkMode ? 'dark-mode' : ''%> ">
    <%- include('header.html')%>

    <div class="page-container">
        <div class="page-404-widget">
            <img src="<%=siteUrl%>/assets/home/images/404.svg">
            <div class="description">
                页面未找到或已删除
            </div>
            <a href="/" class="btn">返回首页</a>
        </div>
    </div>

    <%- include('footer.html')%>
</body>

</html>
