<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- article.title%> - <%=site.siteOption.site_title%></title>
    <meta name="keyword" content="<%- keywords ? keywords : site.siteOption.site_keywords %>">
    <meta name="description" content="<%- description ? description : site.siteOption.description %>">
    <link rel="stylesheet" type="text/css" href="<%=siteUrl%>/assets/home/css/style.css %>" />
</head>

<body class="<%- darkMode ? 'dark-mode' : ''%> ">
    <%- include('header.html')%>

    <div class="main-container">
        <div class="left-sider">
            <div class="article-widget">
                <div class="article-title">
                    <%- article.title%>
                </div>
                <div class="article-meta">
                    <span class="media-author">
                        <img src="<%- article.user.avatar %>">
                        <%- article.user.nickname %>
                    </span>
                    <span>
                        <i class="iconfont">&#xe76d;</i>
                        <%- article.created_at %>
                    </span>

                    <span class="media-category">
                        <% currentCategories.forEach((c,i) =>{ %>
                            <a href="/categories/<%- c.category_id %>" target="_blank"><%- c.title %></a>
                        <% }) %>
                    </span>

                    <span>
                        <i class="iconfont">&#xe752;</i>
                        <%- article.hit_counter %>
                    </span>
                    
                    <% if(loginUserId && article.is_show == 0){%>
                        <span class="hidden-action"><i class="iconfont">&#xe7ab;</i>隐藏</span>
                    <%}%>

                    <% if(loginUserId){ %>
                        <span class="edit-action">
                            <a href="/admin/articles/<%-article.id%>/edit">
                                <i class="iconfont">&#xe77a;</i>编辑
                            </a>
                        </span>
                    <% } %>
                </div>
                

                <div class="article-content line-numbers">
                    <%- article.content %>

                    <% if(article.tags){ %>
                        <span class="article-tags">
                            <% article.tags.forEach(function(i){ %>
                                <a href="/tags/<%- i.tag_title %>" target='_blank'>
                                    <i class="iconfont">&#xe670;</i><span><%- i.tag_title %></span>
                                </a>
                            <% }) %>
                        </span>
                    <% } %>

                    <% if(article.updated_at && article.created_at!=article.updated_at){%>
                        <p class="update-time">修改时间 <%- article.updated_at%></p>
                    <% } %>

                    <div class="article-notice">
                        <b>声明：</b>本站所有文章和图片，如无特殊说明，均为原创发布，转载请注明出处。
                    </div>
                </div>
            </div>
            
            <div class="article-prev-next-nav">
                
                <div class="article-nav prev">
                    <% if(prev){ %>
                        <div class='title'>上一篇</div>
                        <div class="arrow-icon"><i class="iconfont">&#xe749;</i></div>
                        <a href="/articles/<%- prev.id %>"><%- prev.title %></a>
                    <% }else{ %>
                        <div class='title'>上一篇</div>
                        <div class="arrow-icon"><i class="iconfont">&#xe749;</i></div>
                        <span>没有了</span>
                    <% } %>
                </div>
                
                
                <div class="article-nav next">
                    <% if(next){ %>
                        <div class='title'>下一篇</div>
                        <div class="arrow-icon"><i class="iconfont">&#xe749;</i></div>
                        <a href="/articles/<%- next.id %>"><%- next.title %></a>
                    <% }else{ %>
                        <div class='title'>下一篇</div>
                        <div class="arrow-icon"><i class="iconfont">&#xe749;</i></div>
                        <span>没有了</span>
                    <% } %>
                </div>

            </div>

        </div>

        <div class="right-sider">
            <%- include('sider.html')%>
        </div><!-- .right-sider -->

    </div>

    <%- include('footer.html')%>

    <link rel="stylesheet" type="text/css" href="<%=siteUrl%>/assets/home/lib/prism/prism.css">
    <script type="text/javascript" src="<%=siteUrl%>/assets/home/lib/prism/prism.js"></script>

</body>

</html>
