<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title><%- site.siteOption.site_title%></title>
    <meta name="keywords" content="<%=site.siteOption.site_keywords%>">
    <meta name="description" content="<%= site.siteOption.description%>">
    <link rel="stylesheet" type="text/css" href="<%=siteUrl%>/assets/home/css/style.css" />
</head>

<body class="<%- darkMode ? 'dark-mode' : ''%> ">
    <%- include('header.html')%>

    <div class="main-container">
        <div class="left-sider">
            <% if(pages){ %>
            <div class="card-widget">
                <div class="header">
                    <div class="title">推荐教程</div>
                    <a href="/docs">更多</a>
                </div>
                <div class="body">
                    <div class="card-list">
                        <% pages.forEach(function(item){ %>
                        <a class="card-item" href="<%- item.url%>" target="_blank">
                            <div class="card-thumbnail">
                                <img src="<%- item.image%>" alt="<%- item.title%>">
                            </div>
                            <div class="card-title"><%- item.title%></div>
                        </a>
                        <% }) %>
                    </div>
                </div>
            </div>
            <% } %>

            <div class="media-widget">            
                <div class="widget-title">
                    最新文章
                </div>
                <!-- 文章列表 -->
                <div class="media-list">

                    <% if(articles.length){ %>
                        <% articles.forEach(function(item){ %>
                            <div class="media-item">
                                <div class="media-main">
                                    <div class="media-title">
                                        <a href="/articles/<%- item.id %>"><%- item.title%></a>
                                    </div>
                                    <div class="media-description">
                                        <%- String(item.content).slice(0,300); %>
                                    </div>
                                    <div class="media-meta">
                                        <a class="author">
                                            <img src="<%- item.user.avatar %>">
                                            <span><%- item.user.nickname %></span>
                                        </a>
                                        <span class="date">
                                            <i class="iconfont">&#xe76d;</i><%- item.created_at %>
                                        </span>
                                        <span class="category">
                                            <% item.categories.forEach((c,i) =>{ %>
                                                <a href="/categories/<%- c.category_id %>"><%- c.title %></a>
                                            <% }) %>
                                        </span>
                                        <span class="hit-counter">
                                            <i class="iconfont">&#xe752;</i><%- item.hit_counter %>
                                        </span>
                                        <% if(loginUserId && item.is_show == 0){%>
                                            <span class="hidden-action"><i class="iconfont">&#xe7ab;</i>隐藏</span>
                                        <%}%>
                                    </div>
                                </div>
                                <% if(item.thumbnail){ %>
                                    <div class="media-thumbnail">
                                        <img src="<%- item.thumbnail %>" class="attachment-post-thumbnail size-post-thumbnail wp-post-image">
                                    </div>
                                <% }%>
                            </div>
                        <% }) %>
                    <% } %>
                </div>

            </div>
 

            <!-- 分页 -->
            <nav>
                <%- pagination %>
            </nav>
        </div>

        <div class="right-sider">
            <%- include('sider.html')%>
        </div><!-- .right-sider -->
    </div>

    <%- include('footer.html')%>

</body>

</html>
