<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"<%- keyword%>" 的搜索结果 - <%=site.siteOption.site_title%></title>
    <meta name="keywords" content="<%=site.siteOption.site_keywords%>">
    <meta name="description" content="<%=site.siteOption.description%>">
    <link rel="stylesheet" type="text/css" href="<%=siteUrl%>/assets/home/css/style.css %>" />
</head>

<body class="<%- darkMode ? 'dark-mode' : ''%> ">

    <%- include('header.html')%>

    <div class="main-container">
        <div class="left-sider">
            <div class="category-media-widget">
                <div class="search-title">
                    <i class="iconfont">&#xe8aa;</i>
                    "<%- keyword%>" 的搜索结果:
                </div>
                <!-- 文章列表 -->
                <div class="media-list">
                
                    <% if(articles.length){ %>
                        <% articles.forEach(function(item){ %>
                            <div class="media-item">
                                <div class="media-main">
                                    <div class="media-title">
                                        <a href="/articles/<%- item.id %>" target="_blank"><%- item.title%></a>
                                    </div>
                                    <div class="media-description">
                                        <%- String(item.content).slice(0,300); %>
                                    </div>
                                    <div class="media-meta">
                                        <a class="author">
                                            <img src="<%- item.user.avatar %>">
                                            <span><%- item.user.nickname %></span>
                                        </a>
                                        <span class="date">
                                            <i class="iconfont"></i><%- item.created_at %>
                                        </span>
                                        <span class="category">
                                            <% item.categories.forEach((c,i) =>{ %>
                                                <a href="/categories/<%- c.category_id %>"><%- c.title %></a>
                                            <% }) %>
                                        </span>
                                        <span class="hit-counter">
                                            <i class="iconfont"></i><%- item.hit_counter %>
                                        </span>
                                    </div>
                                </div>
                                <% if(item.thumbnail){ %>
                                    <div class="media-thumbnail">
                                        <img src="<%- item.thumbnail %>" class="attachment-post-thumbnail size-post-thumbnail wp-post-image">
                                    </div>
                                <% }%>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <div class="no-content">
                            <img src="<%=siteUrl%>/assets/home/images/no-content.png">
                            <p>没有搜索到相关内容...</p>
                        </div>
                    <%}%>
                
                </div>
                
            </div>
            
            <!-- 分页 -->
            <nav>
                <%- pagination %>
            </nav>
        </div>

        <div class="right-sider">
            <%- // include('sider.html')%>
        </div><!-- .right-sider -->
    </div>

    <%- include('footer.html')%>

</body>

</html>
