:root {
  /* 行为相关颜色 */
  --vt-color-primary: #409eff;
  --vt-color-success: #4cd964;
  --vt-color-warning: #f0ad4e;
  --vt-color-error: #dd524d;
  
  /* 文字尺寸 */
  --vt-font-size-sm: 13px;
  --vt-font-size-base: 16px;
  --vt-font-size-lg: 25px;
  
  /* 文字基本颜色 */
  --vt-text-color: #333; /* 基本色 */
  --vt-text-color-inverse: #fff; /* 反色 */
  --vt-text-color-grey: #999; /* 辅助灰色，如加载更多的提示信息 */
  --vt-text-color-placeholder: #8c8c8c;
  --vt-text-color-disable: #c0c0c0;

  /* 背景颜色 */
  --vt-bg-color: #f2f5ff; 
  --vt-bg-color-grey: #f1f1f1;
  --vt-bg-color-hover: #f1f1f1;
  --vt-bg-color-mask: rgba(34, 34, 34, 0.95);
  --vt-bg-color-card: #ffffff;

  /* 边框 */
  --vt-border-radius: 4px;
  --vt-border-color: #e3e5eb;
  --vt-shadow-color: rgba(184, 184, 184, 0.5);
}


/* 夜间模式 */
body.dark-mode {  
  /* 文字基本颜色  */
  --vt-text-color: #b9b9b9;
  --vt-text-color-inverse: #333;
  --vt-text-color-grey: #999;
  --vt-text-color-placeholder: #808080;
  --vt-text-color-disable: #c0c0c0;

  /* 背景颜色  */
  --vt-bg-color: #2c2c2c;
  --vt-bg-color-grey: #5a5a5a;
  --vt-bg-color-hover: #979797;
  --vt-bg-color-mask: rgba(34, 34, 34, 0.95);
  --vt-bg-color-card: #272727;
  
  /* 边框 */
  --vt-border-color: #303030;
  --vt-shadow-color: #181818;
}


body.dark-mode {}
body.dark-mode img {  filter: brightness(70%); }
body.dark-mode .logo { filter: brightness(200%); }



/*
 * 默认的样式
 */

ol,ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Microsoft YaHei UI", "Microsoft YaHei", Helvetica, Arial, Verdana, sans-serif;
  font-size: 17px;
  letter-spacing: 0.8px;
  position: relative;
  letter-spacing: 1px;
  background-color: var(--vt-bg-color);
  color: var(--vt-text-color);
}

a {
  color: var(--vt-text-color);
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 1px;
}

a:hover {
  color: var(--vt-color-primary);
}

/**
 * main-container
 */
.main-container {
  padding: 0 10px;
  /* min-height: calc(100vh - 137px - 80px); */
  margin-top: 10px;
}
.main-container::after {
  content: '';
  display: block;
  clear: both;
}

@media only screen and (min-width: 900px) {
  .main-container {
    width: 1200px;
    padding: 0;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: flex-start;
  }
  
  .main-container .left-sider {
    width: 820px;
    position: relative;
  }
  
  .main-container .right-sider {
    width: 360px;
    height: auto;
    margin-left: auto;
  }

  .main-container .left-sider > div:nth-child(1){
    margin-top: 0 !important;
  }

}


/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'iconfont';  /* Project id 3210959 */
  src: url('//at.alicdn.com/t/c/font_3210959_71zkk5vzmi6.woff2?t=1726650104472') format('woff2'),
       url('//at.alicdn.com/t/c/font_3210959_71zkk5vzmi6.woff?t=1726650104472') format('woff'),
       url('//at.alicdn.com/t/c/font_3210959_71zkk5vzmi6.ttf?t=1726650104472') format('truetype');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0 0;
  border-radius: 4px;
}
.pagination li {
  display: inline;
  float: left;
  margin-right: 6px;
}
.pagination li a {
  color: var(--vt-text-color);
}
.pagination li > a, .pagination li > span {
  position: relative;
  float: left;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  margin-left: 0px;
  line-height: 1.42857143;
  color: var(--vt-text-color);
  text-decoration: none;
  background-color: var(--vt-bg-color-card);
  border: 1px solid var(--vt-text-color-grey);
  border-radius: 4px;
}
.pagination .active a, .pagination .active a:focus, .pagination .active a:hover, .pagination .active span, .pagination .active span:focus, .pagination .active span:hover {
  z-index: 1;
  color: var(--vt-text-color-inverse);
  cursor: default;
  background-color: var(--vt-color-primary);
  border-color: var(--vt-color-primary);
}
.pagination .disabled a, .pagination .disabled a:focus, .pagination .disabled a:hover, .pagination .disabled span, .pagination .disabled span:focus, .pagination .disabled span:hover {
  color: #cecece;
  cursor: not-allowed;
  background-color: var(--vt-text-color-grey);
  border-color: var(--vt-text-color-grey);
  display: none;
}

.sr-only {
  display: none;
}
/*
 * 单页
 */
.page-container {
  font-size: 15px;
  overflow: hidden;
  padding: 0 10px;
  min-height: calc(100vh - 210px - 80px);
  margin: 10px auto;
}
.page-container .page-widget {
  box-sizing: border-box;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  padding: 15px;
}
.page-container .page-title {
  font-size: var(--vt-font-size-lg);
  font-weight: 400;
  line-height: 1.35;
  color: var(--vt-text-color);
}
.page-container .edit-button {
  font-size: 13px;
  display: inline-block;
  color: var(--vt-color-primary);
}
.page-container .edit-button i {
  position: relative;
  font-size: 20px;
  top: 2px;
}
.page-container .page-content {
  min-height: 430px;
  font-size: 16px;
  color: var(--vt-text-color);
  line-height: 30px;
  overflow: hidden;
  margin-top: 10px;
}
.page-container .page-content a {
  color: var(--vt-color-primary);
}
.page-container .page-content h1,
.page-container .page-content h2,
.page-container .page-content h3 {
  line-height: 60px;
  font-weight: 900;
}
.page-container .page-content img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-container .page-content p {
  margin-bottom: 0px;
}
.page-container .page-content .btn {
  display: block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  text-align: center;
  background-color: var(--vt-color-primary);
  border-color: var(--vt-color-primary);
  border-radius: 3px;
  color: var(--vt-text-color-inverse);
  margin: 30px auto 30px auto;
}

@media only screen and (min-width: 900px) {
  .page-container {
    width: 1200px;
    padding: 0 25px;
    margin: 20px auto 0 auto;
  }
  .page-widget {
    max-width: 820px;
  }
}
/* 404 */
.page-404-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.page-404-widget .btn {
  display: block;
  padding: 8px 12px;
  margin-top: 30px;
  background-color: var(--vt-color-primary);
  font-size: var(--vt-font-size-sm);
  color: var(--vt-text-color-inverse);
  border-radius: var(--vt-border-radius);
}
/*
 * 右边栏目
 */
.right-sider {
  width: 100%;
  height: 100%;
  float: right;
  position: relative;
}

@media only screen and (min-width: 900px) {
  .right-sider > div:nth-child(1) {
    margin-top: 0;
  }
}
.widget-title {
  font-size: 22px;
  color: var(--vt-text-color);
  font-weight: bold;
  border-radius: 5px;
  clear: both;
}

/**
 * 标签卡
 */
.tag-container {
  margin-top: 10px;
  overflow: hidden;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  padding: 15px;
  box-sizing: border-box;
}
.tag-container .tag-list {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  margin-right: -15px;
}
.tag-container .tag-list .tag-item {
  overflow: hidden;
  border-radius: 3px;
  margin: 0 15px 15px 0;
  padding: 3px 5px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  display: block;
  color: var(--vt-text-color);
  border: 1px solid var(--vt-border-color);
}
.tag-container .tag-list .tag-item:hover {
  color: var(--vt-color-primary);
  border: 1px solid var(--vt-color-primary);
}
.tag-container .tag-list .tag-item i {
  font-size: 15px;
}

@media only screen and (min-width: 900px) {
  .tag-container {
    margin-top: 20px;
  }
}
/* 文章列表 文章模块 */
.article-container {
  margin-top: 10px;
  position: sticky;
  top: 20px;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  padding: 15px;
}

.article-container .article-list {
  counter-reset: num1 0;
}

.article-container .article-list .article-item {
  height: 38px;
  line-height: 38px;
}

.article-list .article-item a {
  font-size: 14px;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-list .article-item a:hover {
  color: var(--vt-color-primary);
}

.article-list .article-item a::before {
  counter-increment: num1 1;
  content: counter(num1) ". ";
}

.article-list .article-item:first-child {
  margin-top: 15px;
}

@media only screen and (min-width: 900px) {
  .article-container {
    margin-top: 20px;
  }
}
/**
 * 作者卡片
 */
.user-card-container {
  box-sizing: border-box;
  border-radius: var(--vt-border-radius);
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  padding: 20px 15px 25px 15px;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-header .user-avatar {
  width: 80px;
  height: 80px;
}

.user-header .user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-header .nickname {
  margin: 15px 0 0 0;
  font-size: 22px;
  font-weight: bold;
}

.user-header .description {
  margin: 10px 0 0 0;
  padding: 0 45px;
  line-height: 20px;
  font-size: var(--vt-font-size-sm);
  color: var(--vt-text-color-grey);
}

.user-meta {
  display: flex;
  justify-content: center;
  margin: 12px 0 0 0;
  color: var(--vt-text-color-grey);
}

.user-meta .meta-item {
  min-width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  font-size: 12px;
}

.user-meta .meta-item span {
  margin-top: 3px;
}

.user-meta .meta-item span:first-child {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

.user-meta-social {
  display: flex;
  justify-content: center;
  margin: 15px 0 0 0;
}

.user-meta-social img {
  display: flex;
  width: 26px;
  height: 26px;
  margin: 2px 8px;
}

body.dark-mode .user-card {
  background-color: var(--vt-bg-color-card);
}

.category-media-widget {
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  padding: 15px;
}
.category-media-widget{
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  padding: 15px;
}


/*
 * 文章页
 */
.article-widget {
  margin-top: 10px;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  padding: 15px;
}

.article-widget .article-title {
  font-size: 22px;
  font-weight: bold;
  line-height: 35px;
  color: var(--vt-text-color);
  vertical-align: top;
  margin-top: -5px;
}

.article-widget .article-meta {
  margin-top: 20px;
  color: var(--vt-text-color-grey);
  font-size: var(--vt-font-size-sm);
  line-height: 25px;
}

.article-meta span {
  margin-right: 10px;
}

.article-meta span a {
  font-size: var(--vt-font-size-sm);
  color: var(--vt-text-color-grey);
  background-color: var(--vt-bg-color-grey);
  border-radius: var(--vt-border-radius);
  padding: 1px 3px;
}

.article-meta span img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: -5px;
}

.article-meta span i {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.article-meta .hidden-action {
  color: var(--vt-color-warning);
}

.article-meta .edit-action a {
  background-color: transparent;
  color: var(--vt-color-primary);
}

.article-tags {
  margin-top: 15px;
  display: inline-block;
}

.article-tags a {
  font-size: 14px;
  margin-right: 5px;
}

.article-tags span {
  color: var(--vt-text-color-grey);
}

.article-content {
  overflow: hidden;
  margin-top: 15px;
  font-size: 15px;
  padding-bottom: 25px;
  line-height: 25px;
  color: var(--vt-text-color);
  font-size: var(--vt-font-size-base);
  line-height: 30px;
}
.article-content a {
  font-size: var(--vt-font-size-base);
  color: var(--vt-color-primary);
}
.article-content img {
  max-width: 100%;
  margin: 5px 0px;
}
.article-content p {
  margin-top: 20px;
  overflow: hidden;
}
.article-content p:first-child {
  margin-top: 0px;
}
.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.article-content h1 {
  font-size: 25px;
}
.article-content h2 {
  font-size: 22px;
}
.article-content h3 {
  font-size: 18px;
}
.article-content h4 {
  font-size: 16px;
}
.article-content h5 {
  font-size: 10px;
}
.article-content ul {
  list-style: inherit;
  padding-left: 25px;
  margin-bottom: 5px;
}
.article-content ol {
  list-style: decimal;
  padding-left: 25px;
  margin-bottom: 5px;
}
.article-content blockquote {
  padding: 15px;
  background-color: var(--vt-bg-color);
  margin-top: 20px;
  color: var(--vt-text-color-grey);
  border-radius: var(--vt-border-radius);
}
.article-content blockquote::before {
  content: "\e669";
  font-family: "iconfont";
  font-size: 38px;
  color: var(--vt-color-primary);
}
.article-content .content-excerpt {
  padding: 15px;
  background-color: var(--vt-bg-color);
  margin-top: 20px;
  color: var(--vt-text-color-grey);
  border-radius: var(--vt-border-radius);
}
.article-content table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid var(--vt-border-color);
  margin-top: 10px;
}
.article-content table caption {
  color: var(--vt-text-color);
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
.article-content table td, .article-content table th {
  border-left: 1px solid var(--vt-border-color);
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
.article-content table thead {
  background-color: var(--vt-bg-color-grey);
  color: var(--vt-text-color);
  text-align: left;
  vertical-align: bottom;
}
.article-content table td, .article-content table th {
  background-color: transparent;
  border-bottom: 1px solid var(--vt-border-color);
}

.article-content .update-time {
  color: var(--vt-text-color-grey);
  font-size: 14px;
}

.article-content .doc-widget {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 380px;
  width: 100%;
  height: 70px;
  background-color: var(--vt-bg-color);
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: center;
  color: var(--vt-text-color);
  box-shadow: 0 0 3px var(--vt-shadow-color);
}

.article-content .doc-widget img {
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 5px;
}

.article-content .doc-widget span {
  margin: 0 10px;
}

.article-content .doc-widget b {
  clear: both;
  font-size: 12px;
  color: var(--vt-text-color-grey);
}

.article-content .doc-widget i {
  color: var(--vt-text-color-grey);
  margin-left: auto;
}

@media only screen and (min-width: 900px) {
  .article-widget {
    margin-top: 0px;
  }
}
.article-notice {
  background-color: var(--vt-bg-color-grey);
  color: var(--vt-text-color-grey);
  padding: 15px;
  margin: 30px 0 0;
  font-size: var(--vt-font-size-sm);
  border-radius: var(--vt-border-radius);
}

pre {
  /* line-height: 18px; */
  border-radius: 3px;
  /* padding: 9.5px !important; */
  /* margin-top: 3px; */
  font-size: 13px !important;
  /* background-color: #f0f0f0 !important; */
  /* background-image: url(../images/pixels.png) !important; */
  /* background-repeat: no-repeat !important; */
  /* background-position: top right !important; */
  /* border-color: #f0f0f0 !important; */
  /* text-wrap: wrap; */
  /* text-shadow: 0 0 #fff !important; */
}

/* .article-content pre {
  line-height: 18px;
  font-size: 13px !important;
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  padding: 12px;
  margin: 5px 0;
  border-radius: var(--vt-border-radius);
}
 */
.dark-mode pre {
  color: #b9b9b9;
  background-color: #333 !important;
}
code[class*=language-], 
pre[class*=language-]{
  text-shadow: none !important;
  color: var(--vt-text-color) !important;
  background-color: var(--vt-bg-color-grey) !important;
}




/**
 * 文章上一篇和下一篇导航
 */
.article-prev-next-nav {
  display: flex;
  justify-content: space-between;
  font-size: var(--vt-font-size-sm);
  color: var(--vt-text-color-grey);
  margin-top: 10px;
}

.article-prev-next-nav .article-nav {
  flex: 0 0 calc(50% - 5px);
  display: block;
  padding: 15px 10px;
  box-sizing: border-box;
  background-color: var(--vt-bg-color-card);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
}

.article-nav .title {
  margin: 0 0 10px 0;
}

.article-nav .arrow-icon {
  display: none;
}

.article-nav a {
  font-size: 14px;
}

@media only screen and (min-width: 900px) {
  .article-prev-next-nav {
    margin-top: 20px;
  }
  .article-prev-next-nav .article-nav {
    flex: 0 0 calc(50% - 10px);
  }
  .article-prev-next-nav .article-nav .arrow-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .article-prev-next-nav i {
    font-size: 25px;
    font-weight: 900;
    color: var(--vt-shadow-color);
  }
  .article-prev-next-nav .prev {
    padding-left: 50px;
    text-align: left;
  }
  .article-prev-next-nav .next {
    padding-right: 50px;
    text-align: right;
  }
  .article-prev-next-nav .next .arrow-icon {
    transform: rotate(180deg);
    left: auto;
    right: 0;
  }
}
#my-video {
  margin-bottom: 20px;
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
}

.vjs-poster img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

/*
 * search
 */
.no-content {
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
  color: var(--vt-text-color);
}
.no-content img {
  width: 300px;
}
.no-content p {
  margin-top: 50px;
}

.search-title {
  margin-top: 0px;
  color: var(--vt-text-color);
  font-size: var(--vt-font-size-base);
}

.search-title i {
  font-size: 30px;
  position: relative;
  top: 5px;
}

/**
* header 类型1
*/
.no-scroll {
  overflow-y: hidden;
}

.header.mobile {
  width: 100%;
  height: 50px;
  background-color: var(--vt-bg-color-card);
  /* 移动端菜单 */
}
.header.mobile .header-nav {
  box-sizing: border-box;
  padding: 0px 5px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 3px var(--vt-shadow-color);
}
.header.mobile .header-nav a.logo {
  display: block;
  height: 30px;
}
.header.mobile .header-nav a.logo img {
  height: 30px;
}
.header.mobile .header-nav a.top-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.header.mobile .header-nav a.top-nav-button i {
  font-size: 25px;
}
.header.mobile .mobile-menu-modal {
  width: 100vw;
  height: 100vh;
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--vt-bg-color-mask);
  display: none;
}
.header.mobile .mobile-menu-modal.show {
  display: flex;
}
.header.mobile .mobile-menu {
  box-sizing: content-box;
  background-color: var(--vt-bg-color-card);
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  z-index: 6;
}
.header.mobile .mobile-menu .action-widget {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.header.mobile .action-widget .action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  color: var(--vt-text-color);
  cursor: pointer;
}
.header.mobile .action-widget .action-button i {
  font-size: 25px;
}
.header.mobile .action-widget .action-button.dark-mode-button .moon {
  display: block;
}
.header.mobile .action-widget .action-button.dark-mode-button .sun {
  display: none;
}
.header.mobile .action-widget .action-button.dark-mode-button.dark .moon {
  display: none;
}
.header.mobile .action-widget .action-button.dark-mode-button.dark .sun {
  display: block;
}
.header.mobile .mobile-menu .site-logo {
  display: flex;
  justify-content: center;
}
.header.mobile .mobile-menu .site-logo img {
  width: 50%;
}
.header.mobile .mobile-menu .mobile-ul {
  width: 100%;
  height: 80%;
  margin-top: 0px;
  box-sizing: border-box;
  padding: 10px 30px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.header.mobile .mobile-menu .mobile-ul::-webkit-scrollbar {
  display: none;
  width: 0;
}
.header.mobile .mobile-ul li {
  width: 100%;
  height: auto;
  line-height: 30px;
  color: var(--vt-text-color);
  position: relative;
  margin: 15px auto;
}
.header.mobile .mobile-ul li:after {
  content: "";
  clear: both;
}
.header.mobile .mobile-ul li a {
  font-size: 16px;
}
.header.mobile .mobile-ul li.menu-item-has-children i {
  position: absolute;
  font-size: 20px;
  top: 0px;
  right: 0px;
}
.header.mobile .mobile-ul .child-menu {
  margin-left: 20px;
  display: none;
}
.header.mobile .mobile-ul .menu-item-has-children.active > .child-menu {
  display: block;
}
.header.mobile .mobile-ul .menu-item-has-children.active > i {
  transform: rotate(180deg);
}
.header.mobile .mobile-search-modal.modal {
  width: 100vw;
  height: 100vh;
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--vt-bg-color-mask);
  display: none;
  justify-content: center;
  align-items: center;
}
.header.mobile .mobile-search-modal.modal.show {
  display: flex;
}
.header.mobile .mobile-search-modal.modal .modal-dialog {
  position: relative;
  font-size: 18px;
  width: 90%;
  max-width: 300px;
  padding: 20px;
  border-radius: var(--vt-border-radius);
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 3px var(--vt-shadow-color);
}
.header.mobile .mobile-search-modal.modal .modal-dialog .modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}
.header.mobile .mobile-search-modal.modal .modal-dialog .modal-close-button i {
  font-size: 20px;
}
.header.mobile .mobile-search-modal.modal .modal-dialog .modal-header {
  text-align: center;
  margin-bottom: 20px;
  color: var(--vt-text-color);
}
.header.mobile .mobile-search-modal.modal .modal-dialog .field {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
  font-size: 14px;
  color: var(--vt-text-color);
}
.header.mobile .mobile-search-modal.modal .modal-dialog .field-text input {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  color: var(--vt-text-color);
  border: 1px solid var(--vt-border-color);
  border-radius: var(--vt-border-radius);
  background-color: var(--vt-bg-color-card);
  text-indent: 10px;
}
.header.mobile .mobile-search-modal.modal .modal-dialog .field-button {
  margin-bottom: 0px;
}
.header.mobile .mobile-search-modal.modal .modal-dialog .field-button button {
  width: 100px;
  height: 35px;
  border: 1px solid transparent;
  background-color: var(--vt-color-primary);
  border-radius: var(--vt-border-radius);
  color: var(--vt-text-color-inverse);
  display: block;
  margin: 0px auto;
}

.header.pc {
  display: none;
}

/**
* header 900px+
*/
@media only screen and (min-width: 900px) {
  .header.mobile {
    display: none;
  }
  .header.pc {
    display: block;
    width: 100%;
    height: 60px;
    background-color: var(--vt-bg-color-card);
    box-shadow: 0px 0px 3px 0 var(--vt-shadow-color);
    z-index: 9;
    position: relative;
  }
  .header.pc .header-nav {
    width: 1200px;
    height: 60px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .header.pc .header-nav a.logo {
    display: flex;
    height: 60px;
    min-width: 120px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--vt-font-size-lg);
    float: left;
  }
  .header.pc .header-nav a.logo img {
    display: block;
    max-height: 70%;
  }
  /* PC 菜单样式 */
  .header.pc .pc-nav {
    list-style: none;
    height: 60px;
    float: left;
    margin-left: 30px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    overflow: visible;
  }
  .pc-nav li {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
    height: 60px;
    min-width: 60px;
    box-sizing: border-box;
  }
  .pc-nav li a {
    font-size: var(--vt-font-size-base);
    display: block;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    padding: 0px 20px;
  }
  .pc-nav li a .iconfont {
    font-size: 16px;
    font-weight: 600;
  }
  .child-menu {
    box-sizing: border-box;
    background-color: var(--vt-bg-color-card);
    box-shadow: 0 0 3px 0 var(--vt-shadow-color);
    border-radius: var(--vt-border-radius);
    border: 1px solid var(--vt-border-color);
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    flex-direction: column;
  }
  .child-menu li {
    height: auto;
  }
  .child-menu li:hover {
    background-color: var(--vt-bg-color-hover);
  }
  .child-menu li a {
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    min-width: 160px;
  }
  .child-menu li a .iconfont {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 0px;
    right: 3px;
  }
  .menu-item-has-children .menu-item-has-children {
    padding-right: 10px;
  }
  .menu-item-has-children .menu-item-has-children .child-menu {
    top: 0px;
    left: 100%;
  }
  .menu-item-has-children.active > .child-menu {
    display: flex;
  }
  .menu-item-has-children.active > a i {
    display: inline-block;
    transform: rotate(180deg);
  }
  .menu-item-has-children .menu-item-has-children.active > a i {
    display: inline-block;
    transform: rotate(-90deg);
  }
  /* 登录注册等按钮 */
  .header.pc .header-button-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    margin-left: auto;
  }
  .header.pc .header-button-group .button {
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    display: block;
    font-size: 15px;
    margin-left: 12px;
    border-radius: var(--vt-border-radius);
    border: 1px solid var(--vt-border-color);
  }
  .header.pc .header-button-group a.nav-button {
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
  }
  .header.pc .header-button-group a.nav-button i {
    font-size: 27px;
    font-weight: 300;
  }
  .header.pc .header-button-group a.nav-button.dark-mode-button {
    transition: 0.3s all linear;
  }
  .header.pc .header-button-group .dark-mode-button .moon {
    display: block;
  }
  .header.pc .header-button-group .dark-mode-button .sun {
    display: none;
  }
  .header.pc .header-button-group .dark-mode-button.dark .moon {
    display: none;
  }
  .header.pc .header-button-group .dark-mode-button.dark .sun {
    display: block;
  }
  .header.pc .search-toggle-button.active {
    color: var(--vt-color-primary);
  }
  .header.pc .header-top-avatar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  .header.pc .header-top-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .header-nav::after {
    content: "";
    width: 0px;
    height: 0px;
    clear: both;
  }
  /* 搜索框 */
  .search-widget {
    width: 100%;
    min-height: 160px;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--vt-bg-color-card);
    box-shadow: 0 5px 5px 0 var(--vt-shadow-color);
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--vt-border-color);
  }
  .search-widget.show {
    display: flex;
  }
  .search-widget .close-widget {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
  }
  .search-widget .close-widget a i {
    font-size: 25px;
  }
  .search-widget .search {
    display: flex;
    width: 500px;
    height: 40px;
    margin-top: 20px;
    justify-content: space-between;
  }
  .search-widget .search input {
    width: 410px;
    outline: none;
    border: 1px solid var(--vt-border-color);
    border-radius: var(--vt-border-radius);
    text-indent: 10px;
  }
  .search-widget .search input:focus {
    box-shadow: 0 0 3px 0 var(--vt-color-primary);
  }
  .search-widget .search .search-button {
    width: 80px;
    border: 1px solid var(--vt-color-primary);
    background-color: var(--vt-color-primary);
    border-radius: var(--vt-border-radius);
  }
  .search-widget .search-button i {
    font-size: 30px;
    color: var(--vt-text-color-inverse);
  }
  /* 用户中心弹窗 */
  .header.pc .user-widget {
    position: absolute;
    right: 0;
    top: 60px;
    min-height: 100px;
    padding: 15px;
    background-color: var(--vt-bg-color-card);
    box-shadow: 0 0 5px 0 var(--vt-shadow-color);
    border-radius: var(--vt-border-radius);
    overflow: hidden;
    display: none;
  }
  .header.pc .user-widget.show {
    display: block;
  }
  .user-widget .user-header {
    display: flex;
  }
  .user-widget .user-header .avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--vt-border-color);
    margin-right: 10px;
  }
  .user-widget .user-header .user-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--vt-font-size-sm);
  }
  .user-widget .user-header .user-nickname {
    font-size: var(--vt-font-size-base);
    font-weight: bold;
  }
  .user-widget .user-header .user-more {
    margin-top: 7px;
    color: var(--vt-text-color-grey);
  }
  .user-widget .links-widget {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .user-widget .links-widget a {
    margin: 5px 0;
  }
  .user-widget .links-widget i {
    color: var(--vt-color-primary);
    display: inline-block;
    position: relative;
    top: 3px;
    font-size: 22px;
    margin-right: 3px;
  }
}.images-section {
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 8px 15px 15px 15px;
}
.images-section::after {
  content: "";
  display: block;
  clear: both;
}

.images-list {
  width: auto;
  margin-right: -15px;
  display: flex;
  justify-content: normal;
  flex-wrap: wrap;
}
.images-list::after {
  content: "";
  display: block;
  clear: both;
}

.images-item {
  width: auto;
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin: 0px 10px 15px 0px;
}

.images-item a.item-image {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  background-color: var(--vt-bg-color-card);
}

.images-item a.item-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0 0 1px var(--vt-shadow-color);
  box-sizing: border-box;
}

.images-item .item-info {
  padding-top: 5px;
}

.images-item .item-info a.title {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.images-item .item-info .description {
  margin-top: 5px;
  font-size: var(--vt-font-size-sm);
  color: #666;
  max-height: 40px;
  line-height: 20px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.images-item .hidden-action {
  color: var(--vt-color-warning);
}

.images-item .hidden-action i {
  position: relative;
  top: 2px;
  font-size: 19px;
}

@media only screen and (min-width: 900px) {
  .images-section {
    width: 100%;
  }
  .images-section .widget-header {
    width: 1200px;
    margin: 0px auto;
  }
  .images-list {
    width: 1200px;
    margin: 0px auto;
  }
  .images-item {
    width: auto;
    max-width: calc(25% - 15px);
    flex: 0 0 calc(25% - 15px);
    margin: 0 15px 15px 0;
  }
  .images-item:nth-child(3n) {
    margin-right: 0;
  }
}
.category.images-list {
  margin: 20px -10px 0px auto;
}

@media only screen and (min-width: 900px) {
  .category.images-list {
    width: 835px;
    margin: 20px 0px 0 0;
  }
  .category.images-list .images-item {
    width: auto;
    max-width: calc(25% - 20px);
    flex: 0 0 calc(25% - 20px);
    margin: 0 20px 30px 0;
  }
}



/* 文章列表样式 */
.media-list {
  margin-top: 10px;
}

@media only screen and (min-width: 900px) {
  .media-list {
    margin-top: 15px;
  }
}
.media-item {
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  font-size: var(--vt-font-size-base);
  display: flex;
  border-bottom: 1px solid var(--vt-border-color);
  transition: all 0.1s linear;
}

.media-item:first-child {
  border-top: 1px solid var(--vt-border-color);
}

.media-item:last-child {
  border-bottom: 0px solid var(--vt-border-color);
}

.media-item .media-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media-main .media-title a {
  font-size: var(--vt-font-size-base);
  font-weight: bold;
  line-height: 25px;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
  color: var(--vt-text-color);
  word-break: break-all;
}

.media-main .media-title a:hover {
  color: var(--vt-color-primary);
}

.media-main .media-description {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 25px;
  font-size: 14px;
  color: var(--vt-text-color-grey);
  margin-top: 0;
  margin-right: 5px;
}

.media-main .media-meta {
  margin-top: 3px;
  color: var(--vt-text-color-grey);
  font-size: var(--vt-font-size-sm);
}

.media-main .media-meta .iconfont {
  font-size: 23px;
  vertical-align: -3px;
}

.media-main .media-meta span {
  margin-right: 10px;
}

.media-main .media-meta .author img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: -5px;
  box-shadow: 0 1px 3px var(--vt-shadow-color);
}

.media-main .media-meta .author {
  color: var(--vt-text-color-grey);
  font-size: 14px;
}

.media-main .media-meta span.date {
  display: none;
}

.media-main .media-meta .hidden-action {
  color: var(--vt-color-warning);
}

.media-main .media-meta .category a {
  font-size: var(--vt-font-size-sm);
  margin-right: 3px;
  color: var(--vt-text-color-grey);
  font-size: var(--vt-font-size-sm);
  color: var(--vt-text-color-grey);
  background-color: var(--vt-bg-color-grey);
  border-radius: var(--vt-border-radius);
  padding: 1px 3px;
}

.media-item .media-thumbnail {
  flex-shrink: 0;
  width: 100px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 var(--vt-shadow-color);
  margin-left: auto;
}

.media-item .media-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 900px) {
  .media-item .media-main {
    min-height: 120px;
    padding: 15px 0;
    justify-content: flex-start;
  }
  .media-main .media-description {
    margin-top: 10px;
    font-size: 15px;
    line-height: 25px;
  }
  .media-main .media-meta {
    margin-top: auto;
  }
  .media-main .media-meta span.date {
    display: inline-block;
  }
  .media-item .media-thumbnail {
    width: 200px;
    height: 138px;
  }
}
/*
 * footer
 */
footer {
  width: 100%;
  height: auto;
  background-color: #555;
  margin-top: 10px;
}

footer .footer-container {
  width: calc(100vw - 50px);
  padding: 25px 0;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

footer .footer-container a {
  color: rgba(255, 255, 255, 0.4);
}

footer .footer-container .copyright {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  margin: 0px 0px;
}

footer .footer-container .copyright a,
footer .footer-container .copyright span {
  font-size: 12px;
  margin: 0 3px;
}

footer .footer-container .powered-item {
  display: inline-block;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

footer .footer-container .powered-item img {
  height: 23px;
  position: relative;
  top: 5px;
}

@media only screen and (min-width: 900px) {
  footer {
    min-width: 1200px;
    margin-top: 20px;
  }
  footer .footer-container {
    width: 1200px;
    margin: 0 auto;
  }
}

/*
 * 面包屑导航
 */
.breadcrumbs {
  width: auto;
  height: 20px;
  line-height: 20px;
  margin: 0px 0 0px 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  padding-left: 30px;
  position: relative;
}

.breadcrumbs li {
  list-style: none;
  font-size: 15px;
  color: #5f5f5f;
}

.breadcrumbs li a {
  font-size: 15px;
  color: #5f5f5f;
}

.breadcrumbs li i.iconfont {
  font-size: 25px;
  position: absolute;
  left: -3px;
}


.float-widget {
  width: 45px;
  min-height: 50px;
  position: fixed;
  right: 5px;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 999;
}

.float-widget .tool-widget {
  width: 45px;
  height: 45px;
  margin-top: 15px;
  position: relative;
}

.float-widget .tool-widget a.tool-button {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 5px 0 var(--vt-shadow-color);
  border-radius: 50%;
  background-color: var(--vt-bg-color-card);
  cursor: pointer;
}

.float-widget .tool-widget a.tool-button i {
  z-index: 1;
  font-size: var(--vt-font-size-lg);
  color: var(--vt-text-color);
  user-select: none;
}

@media only screen and (min-width: 900px) {
  .float-widget {
    position: fixed;
    right: calc(50% - 680px);
    bottom: 120px;
    display: block;
  }
}
.toast-box {
  width: auto;
  max-width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  position: fixed;
  bottom: 200px;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
  user-select: none;
  animation: 0.3s layui-m-anim-up;
  z-index: 99;
}

@keyframes layui-m-anim-up {
  0% {
    opacity: 0;
    transform: translateY(200px) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

/* docs index */
.docs-container {
  padding: 0 10px;
  margin-top: 10px;
}

.docs-container .menu-widget {
  display: block;
}

@media only screen and (min-width: 900px) {
  .docs-container {
    width: 1200px;
    margin: 20px auto 0 auto;
  }
}
/* 文档卡片 */
.docs-menu-widget {
  background-color: var(--vt-bg-color-card);
  border-radius: var(--vt-border-radius);
  border: 1px solid var(--vt-border-color);
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 0px;
  box-sizing: border-box;
  margin: 0 0 10px 0;
}

.menu-widget {
  padding: 0 0 35px 0;
}

.menu-widget .doc-index {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0 5px 15px;
}

.menu-widget .article-list {
  counter-reset: num1 0;
  padding: 0px 0 0 15px;
  margin: 0px;
}

.menu-widget .article-list .article-item {
  padding: 3px 0;
  min-height: 20px;
  line-height: 20px;
}

.menu-widget .article-list .article-item:first-child {
  margin-top: 0;
}

.menu-widget .article-list .article-item.has-child > a {
  color: var(--vt-color-primary);
}

.menu-widget .article-list .article-item.has-child > a::before {
  content: "\e784";
  font-family: "iconfont" !important;
  font-size: 21px;
  font-weight: 900 !important;
  position: relative;
  top: 3px;
  margin-right: 6px;
}

.menu-widget .article-item a {
  font-size: 14px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.menu-widget .article-item a:hover {
  color: var(--vt-color-primary);
}

.menu-widget .article-item a::before {
  content: "\e8bc";
  font-family: "iconfont" !important;
  font-size: 21px;
  position: relative;
  top: 3px;
  font-weight: 300 !important;
  color: var(--vt-color-primary);
  margin-right: 6px;
}

/* 文档卡片 */
.docs-menu-header {
  display: flex;
  padding: 15px 15px 15px 15px;
}

.docs-menu-header .docs-thumbnail {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.docs-menu-header .docs-thumbnail img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: var(--vt-border-radius);
}

.docs-menu-header .docs-info {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.docs-menu-header .docs-info .title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.docs-menu-header .docs-info .description {
  margin: 0px;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  color: var(--vt-text-color-grey);
}

@media only screen and (min-width: 900px) {
  .docs-menu-widget {
    width: 820px;
    margin: 0 auto;
  }
}

/**
 * home - project list
 */
.card-widget {
  margin: 10px 0px 0 0px;
  box-sizing: border-box;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  padding: 15px;
}

.card-widget .header {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.card-widget .header a {
  font-weight: normal;
}

.card-widget .body {
  width: 100%;
  overflow: scroll;
}

.card-widget .body::-webkit-scrollbar {
  display: none;
}

.card-widget .body .card-list {
  margin-right: -10px;
  margin-top: 20px;
  display: flex;
  padding: 0 2px;
}

.card-list .card-item {
  width: calc(45% - 10px);
  margin-right: 10px;
  flex: 0 0 auto;
  position: relative;
  border-radius: var(--vt-border-radius);
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.card-item .card-thumbnail {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  position: relative;
  background-color: var(--vt-bg-color-grey);
}

.card-item .card-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--vt-border-radius);
}

.card-item .card-title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}

@media only screen and (min-width: 900px) {
  .card-widget {
    width: 100%;
    margin: 20px auto 0 auto;
  }
  .card-list .card-item {
    width: calc(25% - 15px);
    margin-right: 15px;
  }
}
.media-widget {
  margin-top: 10px;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  padding: 15px;
}

@media only screen and (min-width: 900px) {
  .media-widget {
    margin-top: 20px;
  }
}

/* 幻灯样式 */
.swiper-container {
  width: 100%;
  height: 50vw;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px auto;
  overflow: hidden;
  border-radius: var(--vt-border-radius);
}

.swiper-container .swiper-slide {
  background: var(--vt-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.swiper-container .swiper-pagination-bullet-active {
  background-color: var(--vt-color-primary);
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  left: 20px;
  transition: opacity 0.2s ease-in-out;
  z-index: 99;
}
.swiper-container .swiper-button-next::after,
.swiper-container .swiper-button-prev::after {
  color: #fff;
  font-size: 18px;
}
.swiper-container .swiper-button-next.swiper-button-disabled,
.swiper-container .swiper-button-prev.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: auto;
}

.swiper-container .swiper-button-next {
  left: auto;
  right: 20px;
}

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev {
  visibility: visible;
}
.swiper-container:hover .swiper-button-next:not(.swiper-button-disabled),
.swiper-container:hover .swiper-button-prev:not(.swiper-button-disabled) {
  opacity: 1;
}