/*
 * 默认的样式
 */

ol,ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Microsoft YaHei UI", "Microsoft YaHei", Helvetica, Arial, Verdana, sans-serif;
  font-size: 17px;
  letter-spacing: 0.8px;
  position: relative;
  letter-spacing: 1px;
  background-color: var(--vt-bg-color);
  color: var(--vt-text-color);
}

a {
  color: var(--vt-text-color);
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 1px;
}

a:hover {
  color: var(--vt-color-primary);
}

/**
 * main-container
 */
.main-container {
  padding: 0 10px;
  /* min-height: calc(100vh - 137px - 80px); */
  margin-top: 10px;
}
.main-container::after {
  content: '';
  display: block;
  clear: both;
}

@media only screen and (min-width: 900px) {
  .main-container {
    width: 1200px;
    padding: 0;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: flex-start;
  }
  
  .main-container .left-sider {
    width: 820px;
    position: relative;
  }
  
  .main-container .right-sider {
    width: 360px;
    height: auto;
    margin-left: auto;
  }

  .main-container .left-sider > div:nth-child(1){
    margin-top: 0 !important;
  }

}


